body{
    background: rgba(51, 51, 51, 1);
    height: 100vh;
    width: 100vw;
}
.back{
    background: rgba(51, 51, 51, 1);
    border-right: 1px solid #ccc;
    height: 100vh;
}

.back2{
    background: rgba(51, 51, 51, 1);
}

.floating-container{
    position: fixed;
    width: 250px;
    height: 105px;
    bottom: 0;
    right: 0;
}


.floating-button{
    position: absolute;
    width: 37px;
    height: 37px;
    bottom: 45px;
    right: 63px;
    border-radius: 50%;
    cursor: pointer;
}

.element-container{
    margin-left: 15px;
}